<% if (locals.buzzwords && buzzwords[0].word.length) { %>
  <p class="form--buzzwords buzzwords">
  <% buzzwords.forEach(buzzword => { %>
    <% if (buzzword.match === true) { %>
      <span class="match match--<%= buzzword.type %>"><%= buzzword.word %></span>
    <% } else { %>
      <%= buzzword.word %>
    <% } %>
  <% }) %>
  </p>
<% } %>
