<% if (locals.buzzWords) { %>
  <ul class="chat--buzzwords buzzwords">
  <% buzzWords.forEach(buzzWord => { %>
    <% if (buzzWord.match === true) { %>
      <li><span class="match-<%= buzzWord.type %>"><%= buzzWord.word %></span></li>
    <% } else { %>
      <li><%= buzzWord.word %></li>
    <% } %>
  <% }) %>
  </ul>
<% } %>
