<% if (locals.buzzWords) { %>
  <p class="form--buzzwords buzzwords">
  <% buzzWords.forEach(buzzWord => { %>
    <% if (buzzWord.match === true) { %>
      <span class="match match--<%= buzzWord.type %>"><%= buzzWord.word %></span>
    <% } else { %>
      <%= buzzWord.word %>
    <% } %>
  <% }) %>
  </p>
<% } %>
