<% if (people) { %>
  <section class="results">
    <ul class="results--list">
      <% people.forEach(person => { %>
        <%- include ./result.ejs %>
      <% }) %>
    </ul>
  </section>
<% } %>
