<% 'use strict'; %>

<% if (people.length) { %>
  <section class="results slider">
    <ul class="results--list slider--container">
      <% people.forEach((person, i) => { %>
        <%- include ./result.ejs %>
      <% }) %>
    </ul>
    <button class="slider--button slider--left">Left</button>
    <button class="slider--button slider--right">Right</button>

    <div class="user-feedback">
      <p class="user-feedback--message">Je hebt Peter beoordeld met 3 sterren</p>
      <a class="user-feedback--revert" href="#">Undo</a>
    </div>
  </section>
<% } else { %>
  <% if (message.length) { %>
    <section class="no-results">
      <h2>To bad</h2>
      <p class="no-results--message">No matches were found on this search. <br> You could check your spelling, a fault is quickly made!</p>
      <p class="no-results--message">Or you could <a href="#">report it to HR</a></p>
    </section>
  <% } %>
<% } %>
