<% 'use strict'; %>

<% if (people.length) { %>
  <section class="results slider">
    <ul class="results--list slider--container">
      <% people.forEach((person, i) => { %>
        <%- include ./result.ejs %>
      <% }) %>
    </ul>
    <button class="slider--button slider--left">Left</button>
    <button class="slider--button slider--right">Right</button>

    <div class="user-feedback">
      <p class="user-feedback--message">Je hebt Peter beoordeld met 3 sterren</p>
      <a class="user-feedback--revert" href="#">Undo</a>
    </div>
  </section>
<% } else { %>
  <% if (message.length) { %>
    <section class="no-results">
      <h2>helaas</h2>
      <p class="no-results--message">Er zijn geen matches gevonden bij deze zoekopdracht</p>
    </section>
  <% } %>
<% } %>
