<% if (people.length) { %>
  <section class="results">
    <ul class="results--list">
      <% people.forEach(person => { %>
        <%- include ./result.ejs %>
      <% }) %>
    </ul>
  </section>
<% } else { %>
  <% if (message.length) { %>
    <section class="no-results">
      <h2>helaas</h2>
      <p class="no-results--message">Er zijn geen matches gevonden bij deze zoekopdracht</p>
    </section>
  <% } %>
<% } %>
