<li class="results--item result">

  <%- include ./area/personal-info.ejs %>

  <%- include ./knolage-areas.ejs %>
  <%- include ./projects.ejs %>

  <a href="#">Bekijk alle info over [name]</a>
  <a href="#">Dit persoon zoek ik niet</a>
</li>
