@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-Cn.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
  font-stretch: extra-condensed;
}
@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-ExtraBlackCn.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
  font-stretch: extra-condensed;
}
@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-LightCn.otf") format("opentype");
	font-weight: 300;
  font-style: normal;
	font-stretch: extra-condensed;
}
@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-Roman.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Frutiger";
  src: url("../fonts/Frutiger-UltraBlack.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Antiqua";
  src: url("../fonts/ANTQUAB.ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Antiqua";
  src: url("../fonts/ANTQUAI.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Antiqua";
  src: url("../fonts/ANTQUABI.ttf");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Antiqua";
  src: url("../fonts/BKANT.ttf");
	font-weight: normal;
	font-style: normal;
}
