@mixin baseFont {
  @include adjust($base-font-size);
  font-family: $base-font;
  line-height: 1.5;
  font-weight: 400;
}

@mixin main-title {
  @include adjust($mainTitle);

  font-style: italic;
  font-weight: 600;
  letter-spacing: 1;
}

@mixin area-title {
  @include adjust($subTitle);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .05rem;
}
@mixin area-subtitle {
  @include adjust($subTitle);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .05rem;
}

@mixin category-title {
  @include adjust($base-font-size);
  font-weight: 400;
  text-transform: capitalize;
}

body {
  @include baseFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" on;
}

h4 {
  margin: 0;
}
