// Colors
$black:           #000;
$white:           #fff;
$gray:            lightgray;
$light-gray:      #F7F7F7;

$text:            $black;
$input-bg:        $light-gray;

$brand-primary:   #98C220;
$front-end:       #98C220;


// Fonts-sizes
$base-font-size: (
  xs: 1rem,
  sm: 1rem,
  md: 1rem,
  lg: 1rem   // 16px
);

$personal-font-size: $base-font-size;

$subTitle: (
  xs: 1rem,
  sm: 1.1rem,
  md: 1.2rem,
  lg: 1.375rem   // 22px
);

$mainTitle: (
  xs: 1.6rem,
  sm: 1.8rem,
  md: 2rem,
  lg: 2rem   // 32px
);











// Fonts
$serif: "Times", sans-serif;
$sans-serif: "Roboto", serif;

$base-font: $sans-serif;

// Layout
$container:      68.75rem; // 1100px
$gutter:         1.28rem; // 20px
$double-gutter:  $gutter * 2; // 40px



// Global Vars
  // form
  $input-padding: .65rem 1rem .6rem 1rem;
  $input-padding-extended: .8rem 1.13rem .8rem 1.13rem;

  // cards
  $card-label-width: 2.6875rem;

  $area-padding: .625rem;

// Global used breakpoints
  // Layout
  $bp-container: $container + $double-gutter; // 1564px

  $bp-align-mains: 800px;

  // The breakpoint for the adjust mixin
  $adjust-xs: 500px;
  $adjust-sm: 800px;
  $adjust-md: 1000px;
  $adjust-lg: 1300px;
