<%- include ./base/head.ejs %>

  <header class="layout--header">
    <%- include ./modules/form.ejs %>
  </header>

  <main class="layout--main">
    <%- include ./modules/results.ejs %>
  </main>

  <footer class="layout--footer">

  </footer>

<%- include ./base/footer.ejs %>
