<%- include ./base/head.ejs %>

  <main class="main">
    <form class="main--chat chat" action="/" method="post">
      <fieldset class="chat--container">
        <label class="chat--message message" for="message">Type your message</label> <%# @TODO: hide message for screanreaders %>
        <div class="chat--message-container">
          <input class="chat--input message--input" id="message" type="text" name="message">
          <%- include ./modules/buzzwords.ejs %>
        </div>
      </fieldset>
    </form>
  </main>

<%- include ./base/footer.ejs %>
