<%- include ./base/head.ejs %>
  <main class="layout">
    <header>
      <%# <h1>Find the one you need!</h1>%>
      <%- include ./modules/form.ejs %>
    </header>
    <%- include ./modules/results.ejs %>
  </main>

<%- include ./base/footer.ejs %>
