* {
  box-sizing: border-box;
}

* *:after,
* *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" on;
  font-feature-settings: "kern" on;
}

body {
  font-size: 1rem;
}

@media (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 1rem;
  }
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

.area {
  position: relative;
}

.area--title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6875rem;
  height: 100%;
  background-color: #bababa;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.area--title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .05rem;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
  -ms-transform: rotate(-90deg) translate(-50%, -50%);
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.area--title {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .area--title {
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .area--title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1300px) {
  .area--title {
    font-size: 1.375rem;
  }
}

.area--subtitle {
  margin: 0;
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .05rem;
}

.area--subtitle {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .area--subtitle {
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .area--subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 1300px) {
  .area--subtitle {
    font-size: 1.375rem;
  }
}

.area--hide {
  display: none;
}

.area--front-end .category--title {
  color: #000;
  background-color: #F3B55B;
  background: -webkit-linear-gradient(45deg, #F3B55B, #f6ca8b);
  background: linear-gradient(45deg, #F3B55B, #f6ca8b);
}

.area--design .category--title {
  color: #000;
  background-color: #56B498;
  background: -webkit-linear-gradient(45deg, #56B498, #79c4ae);
  background: linear-gradient(45deg, #56B498, #79c4ae);
}

.category {
  margin: 0;
  padding: 0;
}

.category li {
  list-style-type: none;
}

.category--title {
  background-color: lightgray;
  padding: 0.3rem 0.625rem;
  font-weight: 400;
  text-transform: capitalize;
}

.category--title {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .category--title {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .category--title {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .category--title {
    font-size: 1rem;
  }
}

.category--item,
.project {
  margin: .05rem 0;
  padding: 0.75rem 0.625rem;
  background-color: #FBFBFB;
}

.category--item-container {
  height: 1px;
  overflow: hidden;
}

.category--hide {
  height: 1px;
  overflow: hidden;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.category #layout:target .category--item-container {
  height: auto;
}

.pannel-open .category--item-container {
  height: auto;
}

.form--container {
  border: 0;
}

.form--message {
  display: none;
}

.form--input-container {
  position: relative;
  margin-top: 1rem;
}

.form--input,
.form--buzzwords {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  text-transform: capitalize;
  text-transform: none;
}

.form--input,
.form--buzzwords {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

.form--input {
  z-index: 1;
  padding: 0.65rem 1rem 0.6rem 1rem;
  background-color: transparent;
  color: transparent;
  border: 2px solid #F7F7F7;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-spacing: inherit;
}

.form--input:focus {
  color: inherit;
  outline: 0;
  background-color: #F7F7F7;
}

.form--input:focus + .form--buzzwords {
  z-index: -1;
  display: none;
}

.form--buzzwords {
  z-index: 0;
  margin: 0;
  padding: 0.8rem 1.13rem 0.8rem 1.13rem;
  background-color: #F7F7F7;
  border-radius: 10px;
}

.form--controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.65rem 1rem 0.6rem 1rem;
}

.knolage-areas {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.knolage-areas li {
  list-style-type: none;
}

.knolage-areas--item {
  min-height: 9rem;
  margin-bottom: 1.25rem;
  padding: 0 1rem 0 2.6875rem;
}

.layout--header {
  max-width: 68.75rem;
  margin: 0 auto;
  padding-left: 1.28rem;
  padding-right: 1.28rem;
  box-sizing: border-box;
  margin-bottom: 6.5rem;
}

@media (min-width: 71.31rem) {
  .layout--header {
    padding-left: 0;
    padding-right: 0;
  }
}

.layout--main {
  margin: 0 1.28rem;
}

.match {
  border-radius: 10% / 50%;
  padding: .3rem 1.6rem;
  padding: .3rem .7rem;
}

.match--front-end,
.area--front-end .area--title-container {
  color: #000;
  background-color: #F5A623;
}

.match--project {
  color: #000;
  background-color: #66C2E8;
}

.match--design,
.area--design .area--title-container {
  color: #fff;
  background-color: #47AB8B;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 2.6875rem;
}

.personal--img-container {
  width: 6.875rem;
  height: 6.875rem;
  display: inline-block;
  overflow: hidden;
}

.personal--img {
  width: 100%;
  background-color: #ededed;
  border: 0;
}

.personal--info {
  display: inline-block;
  margin-left: .4rem;
}

.personal--name {
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--name {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--name {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--name {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--name {
    font-size: 1rem;
  }
}

.personal--role {
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--role {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--role {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--role {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--role {
    font-size: 1rem;
  }
}

.personal--location {
  display: inline-block;
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--location {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--location {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--location {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--location {
    font-size: 1rem;
  }
}

.personal--location:before {
  content: "";
  width: .75rem;
  height: .75rem;
  display: inline-block;
  margin-right: .3rem;
  background-color: #000;
}

.projects {
  margin: 0;
  padding: 0;
}

.projects li {
  list-style-type: none;
}

.results--list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.results--list li {
  list-style-type: none;
}

.results--item {
  width: 22rem;
  display: inline-block;
  margin: 0 .8rem 1rem .8rem;
  list-style-type: none;
}

.see-more {
  font-size: 10px;
}

.sub-category {
  margin: 0;
  padding: 0;
}

.sub-category li {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */
