* {
  box-sizing: border-box;
}

* *:after,
* *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" on;
  font-feature-settings: "kern" on;
}

body {
  font-size: 1rem;
}

@media (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 1rem;
  }
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

.activity--title {
  font-weight: bold;
}

.activity--item {
  margin-left: 1.2rem;
  display: list-item;
  list-style-type: disc;
}

.area {
  position: relative;
}

.area--subtitle {
  margin: 0;
  padding: .9375rem 1.5625rem 2.0625rem 1.5625rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: orange;
  color: white;
}

.area--subtitle {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .area--subtitle {
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .area--subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 1300px) {
  .area--subtitle {
    font-size: 1.375rem;
  }
}

.area--subtitle-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.area--hide {
  display: none;
}

.area--front-end .category--title {
  color: #000;
  background-color: #F5A623;
  background: -webkit-linear-gradient(45deg, #F5A623, #f7ba54);
  background: linear-gradient(45deg, #F5A623, #f7ba54);
}

.area--front-end .area--subtitle {
  background-color: #F5A623;
}

.area--front-end .see-more--small {
  background-color: #f9cd85;
}

.area--front-end .see-more--large {
  background-color: #f7ba54;
}

.area--front-end .see-more:hover .see-more--small,
.area--front-end .see-more:focus .see-more--small {
  background-color: #f7ba54;
}

.area--front-end .see-more:hover .see-more--large,
.area--front-end .see-more:focus .see-more--large {
  background-color: #f6b03b;
}

.area--design .category--title {
  color: #fff;
  background-color: #47AB8B;
  background: -webkit-linear-gradient(45deg, #47AB8B, #66bfa3);
  background: linear-gradient(45deg, #47AB8B, #66bfa3);
}

.area--design .area--subtitle {
  background-color: #47AB8B;
}

.area--design .see-more--small {
  background-color: #8aceb8;
}

.area--design .see-more--large {
  background-color: #66bfa3;
}

.area--design .see-more:hover .see-more--small,
.area--design .see-more:focus .see-more--small {
  background-color: #66bfa3;
}

.area--design .see-more:hover .see-more--large,
.area--design .see-more:focus .see-more--large {
  background-color: #54b898;
}

.area--project .category--title {
  color: #000;
  background-color: #66C2E8;
  background: -webkit-linear-gradient(45deg, #66C2E8, #92d4ef);
  background: linear-gradient(45deg, #66C2E8, #92d4ef);
}

.area--project .area--subtitle {
  background-color: #66C2E8;
}

.area--project .see-more--small {
  background-color: #bfe5f5;
}

.area--project .see-more--large {
  background-color: #92d4ef;
}

.area--project .see-more:hover .see-more--small,
.area--project .see-more:focus .see-more--small {
  background-color: #92d4ef;
}

.area--project .see-more:hover .see-more--large,
.area--project .see-more:focus .see-more--large {
  background-color: #7ccbeb;
}

.category {
  margin: 0;
  padding: 0;
  position: relative;
}

.category li {
  list-style-type: none;
}

.category--item,
.project {
  margin: .05rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.category--item-container {
  height: 1px;
  overflow: hidden;
}

.category--hide {
  display: none !important;
}

.category #layout:target .category--item-container {
  height: auto;
}

.pannel-open .category--item-container {
  height: auto;
}

.controls--submit {
  border: none;
  background-color: white;
  font-size: 1rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.no-message .controls--submit {
  display: none;
}

.controls--submit:hover,
.controls--submit:focus {
  color: #98C220;
  cursor: pointer;
}

.controls--submit-specific {
  display: none;
  margin-right: 1rem;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.no-message .controls--submit-specific {
  display: inline-block;
}

.controls--submit-specific:hover,
.controls--submit-specific:focus {
  color: #98C220;
  cursor: pointer;
}

.controls--submit-all {
  display: none;
  margin-left: 1rem;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.no-message .controls--submit-all {
  display: inline-block;
}

.controls--submit-all:hover,
.controls--submit-all:focus {
  color: #98C220;
  cursor: pointer;
}

.controls--remove {
  display: none;
}

.form {
  max-width: 56.5625rem;
  margin: 0 auto;
  padding-left: 1.28rem;
  padding-right: 1.28rem;
  box-sizing: border-box;
}

@media (min-width: 71.31rem) {
  .form {
    padding-left: 0;
    padding-right: 0;
  }
}

.form--container {
  border: 0;
}

.form--message {
  display: none;
}

.form--input-container {
  position: relative;
  margin-top: 1rem;
}

.form--input,
.form--buzzwords {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  text-transform: capitalize;
  text-transform: none;
}

.form--input,
.form--buzzwords {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .form--input,
  .form--buzzwords {
    font-size: 1rem;
  }
}

.form--input {
  z-index: 1;
  padding: 0.65rem 1rem 0 0.4rem;
  background-color: transparent;
  color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-spacing: inherit;
}

.form--input:focus {
  color: inherit;
  outline: 0;
}

.form--input:focus + .form--buzzwords {
  z-index: -1;
  display: none;
}

.form--buzzwords {
  z-index: 1;
  margin: 0;
  padding: 0.45rem 1.13rem 0 0.4rem;
}

.form--controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.65rem 1rem 0 0.4rem;
}

.no-message .form--controls {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 200%);
  -ms-transform: translate(-50%, 200%);
  transform: translate(-50%, 200%);
}

.knolage-areas {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.knolage-areas li {
  list-style-type: none;
}

.knolage-areas--item {
  min-height: 9rem;
  margin-bottom: 1.25rem;
  padding: 0 1rem 0 2.6875rem;
}

.layout {
  position: relative;
}

.layout--header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 999;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.no-message .layout--header {
  top: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  box-shadow: none;
  font-size: 1.34rem;
}

.layout--main {
  margin: 10rem 1.28rem 0 1.28rem;
}

.match {
  position: relative;
  padding: 0 .1rem 0 .3rem;
  border: 0;
  line-height: 1;
  font-size: inherit;
  -webkit-transition: .3s color;
  transition: .3s color;
  background-color: transparent;
  font-weight: inherit;
}

.match:after {
  content: "";
  position: absolute;
  bottom: -.25rem;
  left: 0;
  width: 100%;
  height: 3px;
}

.match:hover,
.match:focus {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.match:hover .match--remove,
.match:focus .match--remove {
  width: 1rem;
}

.match--word {
  vertical-align: text-bottom;
}

.match--remove {
  width: 0;
  -webkit-transform: translate(0, 0.15rem);
  -ms-transform: translate(0, 0.15rem);
  transform: translate(0, 0.15rem);
  -webkit-transition: .2s width;
  transition: .2s width;
}

.match--front-end:after,
.area--front-end .area--title-container:after {
  background-color: #F5A623;
}

.match--front-end .match--remove g,
.area--front-end .area--title-container .match--remove g {
  stroke: #F5A623;
}

.match--project:after,
.area--project .area--title-container:after {
  background-color: #66C2E8;
}

.match--project .match--remove g,
.area--project .area--title-container .match--remove g {
  stroke: #66C2E8;
}

.match--design:after,
.area--design .area--title-container:after {
  background-color: #47AB8B;
}

.match--design .match--remove g,
.area--design .area--title-container .match--remove g {
  stroke: #47AB8B;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 2.6875rem;
}

.personal--img-container {
  width: 6.875rem;
  height: 6.875rem;
  display: inline-block;
  overflow: hidden;
  background-position: 30% 50%;
  background-size: cover;
}

.personal--img {
  width: 100%;
  opacity: 0;
  border: 0;
}

.personal--info {
  display: inline-block;
  margin-left: .4rem;
}

.personal--name {
  font-family: "Lato", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--name {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--name {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--name {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--name {
    font-size: 1rem;
  }
}

.personal--role {
  font-family: "Lato", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--role {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--role {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--role {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--role {
    font-size: 1rem;
  }
}

.personal--location {
  display: inline-block;
  font-family: "Lato", serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.personal--location {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .personal--location {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .personal--location {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .personal--location {
    font-size: 1rem;
  }
}

.personal--location:before {
  content: "";
  width: .75rem;
  height: .75rem;
  display: inline-block;
  margin-right: .3rem;
  background-color: #000;
}

.project {
  position: relative;
}

.project--name {
  display: block;
}

.project--hours {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  float: right;
}

.project--hours abbr:before {
  content: "";
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: .3rem;
  background-image: url("/img/icons/clock.png?version=1494232358337");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(0.2rem);
  -ms-transform: translateY(0.2rem);
  transform: translateY(0.2rem);
}

.project--last {
  padding-left: .5rem;
}

.project--bold {
  font-weight: 600;
}

.projects {
  margin: 0;
  padding: 0;
}

.projects li {
  list-style-type: none;
}

.result--see-all {
  float: right;
  text-align: right;
  background-color: #98C220;
  color: #fff;
  padding: .3rem .7rem;
  text-decoration: none;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
}

.result--see-all:hover,
.result--see-all:focus {
  background-color: #b3de37;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.result {
  opacity: 0;
}

.result:nth-of-type(1) {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.2s forwards;
  animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.2s forwards;
}

.result:nth-of-type(2) {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.4s forwards;
  animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.4s forwards;
}

.result:nth-of-type(3) {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.6s forwards;
  animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.6s forwards;
}

.result:nth-of-type(4) {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.8s forwards;
  animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 0.8s forwards;
}

.result:nth-of-type(n+5) {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 1s forwards;
  animation: fade-in 0.3s cubic-bezier(0.8, 0.3, 0, 1) 1s forwards;
}

.results--list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.results--list li {
  list-style-type: none;
}

.results--item {
  width: 22rem;
  display: inline-block;
  margin: 0 .8rem 4rem .8rem;
  list-style-type: none;
}

.see-more {
  text-decoration: none;
  display: block;
  margin-bottom: -1px;
  overflow: hidden;
}

.see-more--title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.see-more--item,
.see-more--small,
.see-more--large {
  display: block;
  height: .5rem;
  margin: 0 auto;
}

.see-more--small {
  width: 90%;
  -webkit-transform: translateY(0.4rem);
  -ms-transform: translateY(0.4rem);
  transform: translateY(0.4rem);
  -webkit-transition: .1s ease-out transform, .1s background-color;
  transition: .1s ease-out transform, .1s background-color;
}

.see-more--large {
  width: 95%;
  -webkit-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  -webkit-transition: .1s ease-out transform, .1s background-color;
  transition: .1s ease-out transform, .1s background-color;
}

.see-more:hover .see-more--small,
.see-more:focus .see-more--small {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.see-more:hover .see-more--large,
.see-more:focus .see-more--large {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.skill {
  margin: .5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skill--name {
  margin: 0;
  padding: 0;
  display: block;
}

.skill--score {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skill--score canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sub-category {
  margin: 0;
  padding: 0;
}

.sub-category li {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */
