<li class="knolage-areas--item area area-design">
  <div class="area--title-container">
    <h3 class="area--title">[Design]</h3>
  </div>

  <ul class="fed">
    <li class="fed--tegniques">
      <h4 class="area--subtitle">Sketch</h4>
      <p>Hier komen de meest relevante indicatoren voor het project.</p>
    </li>
  </ul>
  <a href="#">Bekijk alle Design Skills van [Joost]</a>
</li>
