<li class="knolage-area area-design">
  <h3 class="area--title">[Design]</h3>

  <ul class="fed">
    <li class="fed--tegniques">
      <h4>Sketch</h4>
      <p>Hier komen de meest relevante indicatoren voor het project.</p>
    </li>
  </ul>
  <a href="#">Bekijk alle Design Skills van [Joost]</a>
</li>
