<li class="knolage-areas--item area area-front-end">
  <div class="area--title-container">
    <h3 class="area--title">[Frontend]</h3>
  </div>

  <ul class="fed">
    <li class="fed--tegniques">
      <h4 class="area--subtitle">[CSS Grid]</h4>
      <p>Hier komen de meest relevante indicatoren voor het project.</p>
    </li>
  </ul>
  <a href="#">Bekijk alle Frond end Skills van [Joost]</a>
</li>
