<dl class="skills">
  <div class="skills--item skill">
    <dt class="skill--name">Blogs</dt>
    <dd class="skill--score demo-fed" data-score="4">4</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Regels code</dt>
    <dd class="skill--score demo-fed" data-score="35">35</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Talks</dt>
    <dd class="skill--score demo-fed" data-score="2">2</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Gesprekken</dt>
    <dd class="skill--score demo-fed" data-score="36">36</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Tweets</dt>
    <dd class="skill--score demo-fed" data-score="1">1</dd>
  </div>
</dl>
