<li class="knolage-area area-front-end">
  <h3 class="area--title">[Front-end]</h3>

  <ul class="fed">
    <li class="fed--tegniques">
      <h4>[CSS Grid]</h4>
      <p>Hier komen de meest relevante indicatoren voor het project.</p>
    </li>
  </ul>
  <a href="#">Bekijk alle Frond end Skills van [Joost]</a>
</li>
