<div class="">
  <h1>Personal activity</h1>

  <div class="chart">
    <% for (var i = 0; i < 12; i++) { %>
      <div class="bar <% if (point.activeMonths && point.activeMonths.includes(i + 1)) { %>bar--active<% } %>"></div>
    <% } %>

    <div class="chart--total">
      <% for (var i = 0; i < 12; i++) { %>
        <div class="bar--total"></div>
      <% } %>
    </div>
  </div>
</div>
