<dl class="skills">
  <div class="skills--item skill">
    <dt class="skill--name">Blogs</dt>
    <dd class="skill--score">4</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Regels code</dt>
    <dd class="skill--score">35</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Talks</dt>
    <dd class="skill--score">2</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Conversations</dt>
    <dd class="skill--score">36</dd>
  </div>
  <div class="skills--item skill">
    <dt class="skill--name">Tweets</dt>
    <dd class="skill--score">1</dd>
  </div>
</dl>
