<li class="knolage-areas--item area area-front-end">
  <div class="area--title-container">
    <h3 class="area--title">[Frontend]</h3>
  </div>

  <ul class="category fed">
    <li class="category--title">CSS</li>
    <ul class="sub-category">
      <li class="category--item fed--tegniques ">
        <h4 class="area--subtitle">[CSS Grid]</h4>
        <p>Hier komen de meest relevante indicatoren voor het project.</p>
      </li>
    </ul>

    <li class="category--item">HTML</li>
    <ul class="sub-category">
      <li class="category--item fed--tegniques ">
        <h4 class="area--subtitle">Forms</h4>
        <p>Hier komen de meest relevante indicatoren voor het project.</p>
      </li>
    </ul>
  </ul>

  <a href="#">Bekijk alle Frond end Skills van [Joost]</a>
</li>
