<li class="knolage-areas--item area area-front-end">
  <div class="area--title-container">
    <h3 class="area--title">[Frontend]</h3>
  </div>

  <ul class="category fed">
    <li class="category--title">CSS</li>
    <ul class="sub-category">
      <li class="category--item fed--tegniques" id="css-grid">
        <a href="#css-grid" class="area--subtitle">[CSS Grid]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques" id="flexbox">
        <a href="#flexbox" class="area--subtitle">[Flexbox]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques" id="layout">
        <a href="#layout" class="area--subtitle">[Layout]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques" id="box-model">
        <a href="#box-model" class="area--subtitle">[Box model]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques" id="css-4-colors">
        <a href="#css-4-colors" class="area--subtitle">[CSS 4 colors]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques" id="hsla">
        <a href="#hsla" class="area--subtitle">[HSLA]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
    </ul>

    <li class="category--title">HTML</li>
    <ul class="sub-category">
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[Forms]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[HTML5]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[headers]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[Semantics]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[Meta]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
      <li class="category--item fed--tegniques">
        <a href="#css-grid" class="area--subtitle">[EJS]</a>
        <div class="category--item-container">
          <p>Hier komen de meest relevante indicatoren voor het project.</p>
        </div>
      </li>
    </ul>
  </ul>

  <a href="#">Bekijk alle Frond end Skills van [Joost]</a>
</li>
