<div class="skill">
  <h1 class="skill--title">Personal activity</h1>

  <div class="chart--container">
    <button class="chart--prev">2017</button>

    <div class="chart">
      <% for (var i = 0; i < 12; i++) { %>
        <div class="bar">
          <% if (point.activeMonths && point.activeMonths.includes(i + 1)) { %>
            <div class="bar--active">
              <% if (point.activeMonths[0] === (i + 1)) { %>
                <p class="bar--activity"><%- point.lastActivity %> days ago</p>
              <% } %>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</div>
