<div class="result--personal personal">
  <div class="personal--img-container">
    <img class="personal--img" src="" alt="Een foto van [Joost]">
  </div>

  <div class="personal--info">
    <h2 class="personal--name"><%- person.name.full %></h2>
    <p class="personal--role"><%- person.role %></p>
    <%# If person is on location, add the class to make the icon green %>
    <p class="personal--location on-location"><%- person.location %></p>
  </div>
</div>
