<div class="result--personal personal">
  <div class="personal--img-container">
    <img src="" alt="Een foto van [Joost]">
  </div>

  <div class="personal--info-container">
    <h2 class="personal--name">Joost van der Aards</h2>
    <p class="personal--role">Front-end Developer</p>
    <%# If person is on location, add the class to make the icon green %>
    <p class="personal--location on-location">Amsterdam</p>
  </div>
</div>
