<li class="project category--item" id="<%- project.name %>">
  <h4 class="project--name"><a href="#<%- project.name %>" class="project--title area--subtitle"><%- project.name %></a></h4>
  <p class="project--hours"> <abbr title="Aantal uren gewerkt">430</abbr></p>

  <dl class="project--activities activity">
    <dt class="activity--title">Werkzaamheden</dt>
    <dd class="activity--item">Search</dd>
    <dd class="activity--item">Google Maps implementatie</dd>
  </dl>

  <p class="project--last">Laatste activiteit: <span>3 maanden geleden</span></p>

  <%# <dt>Laatste keer aan gewerkt</dt>
  <dd>3 maanden geleden</dd>%>

</li>
