.activity {

  &.data--item {
    width: 100%;
  }

  &--title {

  }
  &--list {
    margin: 0;
    padding: 0;
  }
  &--item {
    margin-left: 0; margin-right: auto;
    display: list-item;

    list-style-type: disc;
    color: $text;

    .data--item & {
      max-width: 25rem;
      margin-left: 1rem;
      align-self: flex-start;
      text-align: left;
      white-space: nowrap;
    }
  }
}
