.activity {
  
  &.data--item {
    width: 100%;
  }

  &--title {
    font-weight: bold;
    font-stretch: condensed;
  }
  &--item {
    margin-left: 1.2rem;
    display: list-item;

    list-style-type: disc;

    .data--item & {
      text-align: left;
    }
  }
}
