.area {
  position: relative;

  &--title-container {
    position: absolute;
    top: 0; left: 0;
    width: $card-label-width; height: 100%;

    background-color: darken($gray, 10%);
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }


  &--title {
    position: absolute;
    top: 50%; left: 50%;
    margin: 0; padding: 0;

    white-space: nowrap;
    @include area-title;


    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: 0 0;
  }

  &--subtitle {
    margin: 0;

    @include reset-link;
    @include area-subtitle;
  }



  &--hide {
    display: none; // #TODO: make a better alternative to display none
  }



  &--front-end {
    @include set-type-color($front-end, "front-end");
  }

  &--design {
    @include set-type-color($design, "design");
  }

  &--project {
    @include set-type-color($project, "project");
  }

}
