.category {
  @include reset-list;

  &--title {
    background-color: $gray;
    padding: .3rem $area-padding;
    // font-size: 1rem .5rem ;

    @include category-title;
  }

  &--item {
    margin: .05rem 0;
    padding: .75rem $area-padding;

    background-color: lighten($gray, 10%);
  }

  &--item-container {
    height: 1px;
    overflow: hidden;
  }

  #layout:target {
    .category--item-container {
      height: auto;
    }
  }
}


.pannel-open {
  .category--item-container {
    height: auto;
  }

  // & + .category--item,
  // & + .category--item + .category--item,
  // & + .category--item + .category--item + .category--item {
  //   height: 1px;
  //   overflow: hidden;
  // }
  //
  // & + li + li + li + li,
  // & + li + li + li + li + li {
  //   display: none;
  // }
}
