.category {
  @include reset-list;
  position: relative;

  &--item {
    margin: .05rem 0;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
                0 0 0 1px rgba(0,0,0,0.08);
  }

  &--item-container {
    height: 1px;
    overflow: hidden;
  }

  &--hide {
    display: none !important;
  }

  #layout:target {
    .category--item-container {
      height: auto;
    }
  }
}


.pannel-open {
  .category--item-container {
    height: auto;
  }

  // & + .category--item,
  // & + .category--item + .category--item,
  // & + .category--item + .category--item + .category--item {
  //   height: 1px;
  //   overflow: hidden;
  // }
  //
  // & + li + li + li + li,
  // & + li + li + li + li + li {
  //   display: none;
  // }
}
