.contact {

  &--list {
    @include reset-list;
  }
  &--item {
    display: inline-block;
    width: 1.125rem;
    margin: 0 .17rem;
  }
  &--link {

    @include hocus {
      .contact--img {
        transform: rotate(2deg);
      }
    }
  }
  &--img {
    width: 100%;

    filter: grayscale(1);
    transition: .2s transform;
  }
}
