.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;

  padding: 0;

  &--item:not(:last-of-type) {
    // margin-bottom: 2rem;
  }
  &--item {
    width: 50%;
    text-align: center;
    padding: .8rem;
    font-size: .95rem;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  dd {
    margin: 0;
  }

  &--number {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
