.layout {
  position: relative;

  &--header {
    position: fixed;
    top: 0; left: 50%;
    width: 100%;
    z-index: 999;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    background-color: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.18);

    transform: translate(-50%, 0);

    .no-message & {
      top: 50%;
      transform: translate(-50%, calc(-50% - 10rem));
      box-shadow: none;

      font-size: 1.34rem;
    }
  }

  &--main {
    margin: 5rem $gutter 0 $gutter;
  }
}
