.match {
  border-radius: 10% / 50%;
  padding: .3rem 1.6rem;
  padding: .3rem .7rem;
  // @TODO: fix the jumping bug
}

.match--front-end {
  $background-color: map-get($front-end, 'dark');

  color: get-text-color($background-color);
  background-color: $background-color;
}
.match--project {
  $background-color: map-get($project, 'dark');

  color: get-text-color($background-color);
  background-color: $background-color;
}
.match--design {
  $background-color: map-get($design, 'dark');

  color: get-text-color($background-color);
  background-color: $background-color;
}
