.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: $card-label-width;

  // border: 1px solid lime;

  &--img-container {
    width: 6.875rem; height: 6.875rem;
    display: inline-block;
    overflow: hidden;
  }
  &--img {
    width: 100%;
    background-color: lighten($gray, 10%);
    border: 0;
  }

  &--info {
    display: inline-block;
    margin-left: .4rem;
  }

  &--name {
    @include baseFont;
    margin: 0;
  }
  &--role {
    @include baseFont;
    margin: 0;
  }
  &--location {
    display: inline-block;
    @include baseFont;
    margin: 0;

    &:before {
      content: "";
      width: .75rem; height: .75rem;
      display: inline-block;
      margin-right: .3rem;

      background-color: $black;
    }
  }
}
