.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: $card-label-width;

  @include hocus {
    .personal--contact {
      transform: scaleX(1);
    }
  }

  &--img-container {
    width: 6.875rem; height: 6.875rem;
    width: 7.0625rem; height: 7.0625rem;
    display: inline-block;
    overflow: hidden;

    background-position: 30% 50%;
    background-size: cover;

    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
  }
  &--img {
    width: 100%;
    opacity: 0;
    border: 0;
  }

  &--info {
    display: inline-block;
    margin-left: .4rem;

    display: inline-flex;
    flex-direction: column;
  }

  &--name {
    @include font-personal-title;
    margin: .2rem 0 0 0;

  }
  &--role {
    @include font-personal-item;
    margin: 0;
  }
  &--location {
    @include font-personal-item;
    display: inline-block;
    margin: 0;

    &:after {
      content: "";
      width: .75rem; height: .75rem;
      display: inline-block;
      margin-left: .3rem;

      background-color: rgba($black, .2);
    }
  }
  &--contact {
    margin-top: 1rem;
    margin-left: -1.5rem;
    // transform: scaleX(0);

    transition: .3s transform;
    transform-origin: left;
    overflow: hidden;
  }
}
