.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: $card-label-width;

  @include hocus {
    .personal--contact {
      transform: scaleX(1);
    }
  }

  &--img-container {
    width: 6.875rem; height: 6.875rem;
    display: inline-block;
    overflow: hidden;

    background-position: 30% 50%;
    background-size: cover;
  }
  &--img {
    width: 100%;
    opacity: 0;
    border: 0;
  }

  &--info {
    display: inline-block;
    margin-left: .4rem;

    display: inline-flex;
    flex-direction: column;
  }

  &--name {
    @include baseFont;
    font-stretch: condensed;
    color: $brand-primary;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }
  &--role {
    @include baseFont;
    margin: 0;
  }
  &--location {
    display: inline-block;
    @include baseFont;
    margin: 0;

    &:before {
      content: "";
      width: .75rem; height: .75rem;
      display: inline-block;
      margin-right: .3rem;

      background-color: $black;
    }
  }
  &--contact {
    margin-top: auto;
    transform: scaleX(0);

    transition: .3s transform;
    transform-origin: left;
    overflow: hidden;
  }
}
