.project {
  @extend .category--item;
  position: relative;

  &--name {
    // display: block;
  }
  &--hours {
    position: absolute;
    top: 1rem; right: 1rem;
    margin: 0;
    float: right;

    color: $white;

    abbr {
      @include icon-clock;
    }
  }

  &--last {
    padding-left: .5rem;
  }

  &--bold {
    font-weight: 600;
  }
  &--abbr {
    text-decoration: none;
  }

  &--overview {
    padding-top: 2rem;
  }
  &--overview-title {
    margin: 0 auto;
    text-align: center;
    @include area-subtitle;
    color: $text;
    font-weight: 300;
    font-stretch: normal;
  }
  &--graph {
    width: 7rem; height: 7rem;
    border-radius: 50%;
    background-color: blue;
  }
}
