.ranking {
  @include reset-list;
  position: relative;
  display: inline-block;
  max-width: 6rem;
  margin: 0 -1rem 0 0;
  float: right;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  &--item {
    display: inline-block;
    width: 1.4rem; height: 1.4rem;
    margin-left: .1rem;
    color: gold;

    @include hocus {
      cursor: pointer;
      
      .ranking--starred {
        opacity: 1;
      }
    }
  }
  &--svg {
    width: 100%;
    height: 100%;
  }

  &--star {
    // box-shadow: 0 0 0 3px black;
    // display: block;
    fill: none;
    // stroke-width: 7px;
    //
    // stroke: $white;
    // fill: $white;
    //
    // box-shadow: 0px 0px 0px 3px gold;
  }
  &--starred {
    // stroke: gold;
    stroke-width: 4px;
    opacity: 0;

    transition: .2s opacity;
  }

  &--full {
    .ranking--star {
      fill: $white;
    }
  }
}
