.ranking {
  @include reset-list;
  position: relative;
  display: inline-block;
  max-width: 6rem;
  margin: 0 -1rem 0 0;
  float: right;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  &--item {
    display: inline-block;
    width: 1.4rem; height: 1.4rem;
    margin-left: .1rem;
    color: $dark-gray;
    background-color: transparent;

    @include hocus {
      cursor: pointer;
    }
  }
  &--svg {
    width: 100%;
    height: 100%;
  }

  &--star {
    fill: none;

    .area--front-end & { fill: map-get($front-end, "light"); }
    .area--design & { fill: map-get($design, "light"); }
    .area--project & { fill: map-get($project, "light"); }
  }
  &--starred {
    // stroke: $dark-gray;
    stroke-width: 4px;
    opacity: 0;

    transition: .2s opacity;
  }

  &--full {
    .ranking--star {
      fill: $white;
    }
  }
}

.show-star .ranking--starred {
  opacity: 1;
}
.personal-ranking .ranking--starred {
  opacity: 1 !important;
}
