.results {

  &--list {
    @include reset-list;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: center;
  }
  &--item {
    width: 22rem;
    display: inline-block;
    margin: 0 1rem 4rem 1rem;
    padding-top: 5rem;

    // border: 1px solid lime;
    list-style-type: none;
  }
}
