.results {

  &--list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &--item {
    width: 22rem;
    display: inline-block;
    margin: 0 .8rem 4rem .8rem;

    // border: 1px solid lime;
    list-style-type: none;
  }
}
