.result {


  &--see-all {
    // display: block;
    float: right;
    text-align: right;
    background-color: $brand-primary;
    color: $white;
    padding: .3rem .7rem;
    text-decoration: none;

    transition: .3s background-color;

    @include hocus {
      background-color: lighten($brand-primary, 10%);
    }
  }

  &:first-of-type {
    .result--personal {
      position: relative;
      &:after {
        content: "We think she is your best choice";
        position: absolute;
        top: -2.5rem; left: 6.5rem;
        width: 9rem; height: 3rem;
        display: block;
        color: #B7B7B7;
        transform: translate(0, -1rem);
      }
      &:before {
        content: "";
        position: absolute;
        top: -2.5rem; left: 5rem;
        width: 2rem; height: 2rem;
        display: block;

        background-image: url("../img/icons/share.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -.5rem);
      }
    }

  }
}













@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result {
  opacity: 0;

  $ani-dur: .3s;
  $ani-ease: cubic-bezier(.8,.3,0,1);

  &:nth-of-type(1) {
    animation: fade-in $ani-dur $ani-ease .2s forwards;
  }
  &:nth-of-type(2) {
    animation: fade-in $ani-dur $ani-ease .4s forwards;
  }
  &:nth-of-type(3) {
    animation: fade-in $ani-dur $ani-ease .6s forwards;
  }
  &:nth-of-type(4) {
    animation: fade-in $ani-dur $ani-ease .8s forwards;
  }
  &:nth-of-type(n+5) {
    animation: fade-in $ani-dur $ani-ease 1s forwards;
  }
}
