.see-more {
  text-decoration: none;
  display: block;
  margin-bottom: -1px;
  overflow: hidden;

  &--title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &--item {
    display: block;
    height: .5rem;
    margin: 0 auto;
  }

  &--small {
    @extend .see-more--item;
    width: 90%;
    transform: translateY(.4rem);
    transition: .1s ease-out transform, .1s background-color;
  }
  &--large {
    @extend .see-more--item;
    width: 95%;
    transform: translateY(.1rem);
    transition: .1s ease-out transform, .1s background-color;
  }

  @include hocus {
    .see-more--small {
      transform: scale(1.02);
    }
    .see-more--large {
      transform: scale(1.01);
    }
  }
}
