.see-more {
  text-decoration: none;
  display: block;
  overflow: hidden;

  z-index: 999;
  transform: translate(0);

  &--title {
    margin: 0;
    padding: 1.5rem 0 .5rem 0;
    text-align: center;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item {
    display: block;
    height: .7rem;
    margin: 0 auto;
  }

  &--number {
    display: inline-block;
  }
  &--number {
    display: inline-block;
    border-radius: 50%;
    width: 1.7rem; height: 1.7rem;
    max-width: 2rem; max-height: 2rem;
    margin-left: .3rem;
    color: $white;

    transition: .3s max-width, .3s max-height;
    transform-origin: center;
  }

  &--small {
    @extend .see-more--item;
    width: 90%;
    transform: translateY(.4rem);
    transition: .1s ease-out transform, .1s background-color;
  }
  &--large {
    @extend .see-more--item;
    width: 95%;
    transform: translateY(.1rem);
    transition: .1s ease-out transform, .1s background-color;
  }

  @include hocus {
    .see-more--small {
      transform: scale(1.01, 1.02);
    }
    .see-more--large {
      transform: scale(1.01, 1.01);
    }
  }

  &--all {
    .see-more {
      &--title {
        text-decoration: none;

        @include hocus {
          cursor: default;
        };
      }

      &--number {
        max-width: 0;
        max-height: 0;
      }
    }
  }
}
