$skill-width: 4rem;

.skill {
  margin: .5rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--name {
    margin: 0;
    padding: 0;
  }
  &--score {
    width: $skill-width; height: $skill-width;
    margin: 0; padding: 0;

    background-color: green;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
