.slider {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  overflow: hidden;

  &--container {
    overflow: auto;
  }
  &--item {
    float: left;
  }

  &--button {
    position: fixed;
    top: 50%;
    height: 100%;
    padding: 0;
    border: 0;
    color: transparent;

    &:disabled {
      // opacity: .5rem;
      &:after {
        opacity: .3;
      }
      @include hocus {
        cursor: default;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%; left: 50%;
      width: 3rem; height: 3rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);

      transition: .2s ease-in-out transform;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%; left: 0%;
      width: 7rem; height: 7rem;
      background-color: $gray;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      padding: 4rem;

      transition: .2s ease-in-out transform;
    }

    @include hocus {
      cursor: pointer;
    };
  }
  &--left {
    left: 0;
    transform: translate(0, -50%);
    background: linear-gradient(to right, $gray, lighten($gray, 20%));
    // background: $gray;
    // width: 0.6rem;

    &:after {
      background-image: url('../img/icons/slider-left.png');
    }

    @include hocus {
      outline: none;
    }

    &:not(:disabled) {
      &:after {
        transform: translate(-60%, -50%);
      }
    }
  }
  &--right {
    right: 0;
    transform: translate(0, -50%);
    background: linear-gradient(to left, $gray, lighten($gray, 20%));

    &:after {
      background-image: url('../img/icons/slider-right.png');
    }

    @include hocus {
      outline: none;

      &:not(:disabled) {
        &:after {
          transform: translate(-40%, -50%);
        }
      }
    }
  }
}
