.slider {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  overflow: hidden;

  &--container {
    overflow: auto;
  }
  &--item {
    float: left;
  }

  &--button {
    position: fixed;
    top: 50%;
    width: 7rem; height: 7rem;

    border: 0;
    border-radius: 50%;
    background-color: $brand-primary;
    color: transparent;

    &:disabled {
      background-color: rgba($brand-primary, .5);
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 3rem; height: 3rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      transition: .2s ease-in-out transform;
    }

    @include hocus {
      cursor: pointer;
      outline: none;
    }
  }

  &--left {
    left: 0;
    transform: translate(-50%, -50%);

    &:after {
      left: 50%;
      transform: translate(-10%, -50%);

      background-image: url('../img/icons/slider-left-white.svg');
    }

    @include hocus {
      &:not(:disabled):after {
        transform: translate(-20%, -50%);
      }
    }
  }

  &--right {
    right: 0;
    transform: translate(50%, -50%);

    &:after {
      right: 50%;
      transform: translate(10%, -50%);

      background-image: url('../img/icons/slider-right-white.svg');
    }

    @include hocus {
      &:not(:disabled):after {
        transform: translate(20%, -50%);
      }
    }
  }
}
